.subject-id,
.object-id {
    font-style: italic;
}
tr.new {
    background-color: #f3f3e7;
}
.pg_disabled {
    visibility: hidden;
}
.hidden {
    display: none;
}
ul#lookup-results li {
    cursor: pointer;
}
ul#lookup-results li:active {
    background-color: #cccccc;
}
ul#lookup-results li:hover {
    background-color: #f3f3e7;
}

span.relListItemId {
  display: inline-block;
  text-align: right;
  vertical-align: bottom;
  overflow: hidden;
  margin-right: 1em;
  width: 4em;
  font-size: 80%;
  color: #aaa;
}
